body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.vinculos
{
    a:hover {
      background-color: darkkhaki;
      font-size: 18px;
    }
  }
header {
    text-align: center;
    background-color: #8a0c36;
    padding: 20px 0;
    padding-right: 20px;
    width: 100%;
    top: 0;


}

.hola{
    height: 257px;
    width: 100%;
    object-fit: cover;
}

.MModa {
    text-align: center;
    padding: 20px;
}

.MModa h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

.fotos {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.fotos img {
    width: 150px;
    height: 150px;
    border: 2px solid black;
}

.NP{
    font-size: xx-large;
}

.Estilos {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 30%;
    margin-left: 10%;
}

.Estilos img{
    width: auto;
    height: auto;
    border: 2px solid black;
}